body{
    background-color:#c0cee5;
}

.box{
    background-color:#bedaf7;
}
h1{
    color:#2d3142;
    font-size:20px;
    font-weight:bold;
}

ul{
    color:#5f6689;
    font-size:14px;
}

.box2 {
    background-color:#393f47;
}

    .box2 > ul {
        color:#edeff2;
        font-size:20px;    
    }

    .box2 > h1 {
        color:#edeff2;
        font-size:20px;
        font-weight:bold;
    }
    .box2 > h2 {
        color:#edeff2;
        font-size:16px;
        font-weight:bold;
    }

